# --- Environments ---
venv/
.venv/
env/
backend/venv/
node_modules/
mobile-app/node_modules/

# --- Python ---
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# --- Node.js / Expo ---
mobile-app/.expo/
mobile-app/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Data & Large Files ---
# Ignore video clips and raw data
data/clips/
data/raw/
data/processed_sequences/

# Ignore all CSV datasets
data/*.csv

# --- Models & ML Files ---
models/
*.h5
*.keras
*.pkl
*.model
*.pth
*.tflite

# --- IDEs & Editors ---
.vscode/
.idea/

# --- OS Specific ---
.DS_Store
Thumbs.db
backend/data/processed/fsl_landmarks_X.npy
backend/data/processed/fsl_labels_y.npy
backend/data/processed/fsl_dynamic/sequences_X.npy
backend/data/processed/fsl_dynamic/labels_y.npy
backend/data/processed/fsl_class_to_idx.npy
backend/data/104-Hours-Filipino-Conversational-Speech-Data-by-Mobile-Phone/
backend/results/evaluation/evaluation_summary.txt
/backend/results
/mobile
mobile/package-lock.json
mobile/package.json
/mobile/services
mobile/package.json
mobile/package-lock.json
mobile/package-lock.json
mobile/package.json
mobile/services/socket.ts
mobile/package-lock.json
mobile/package-lock.json
mobile/package.json
mobile/services/socket.ts
mobile/services/socket.ts
backend/data/processed/fsl_dynamic_12/labels_y.npy
backend/data/processed/fsl_dynamic_12/sequences_X.npy
/backend/data/processed
/backend/fsl_env/Lib
/backend/fsl_env
/backend/vision_env
backend/requirementsXX.txt
backend/requirements.txt
backend/requirements.txt

/backend/runs_static/
/backend/runs_dynamic/
/backend/venv_before
mobile/package.json
mobile/package-lock.json
mobile/package-lock.json
